<div class="container">
    <div class="row">
        <mat-list class="col"
                  cdkDropList
                  #left="cdkDropList"
                  [cdkDropListData]="teams[0].players"
                  [cdkDropListConnectedTo]="[right]"
                  (cdkDropListDropped)="drop($event)">
            <mat-list-item cdkDrag [cdkDragData]="player" *ngFor="let player of teams[0].players">
                <span matListItemTitle>{{player.alias}}</span>
                <span matListItemLine>Economy: {{player.total_economy}}</span>
                <span matListItemLine>Industry: {{player.total_industry}}</span>
                <span matListItemLine>Science: {{player.total_science}}</span>
            </mat-list-item>
            <div>Math</div>
        </mat-list>
        <mat-list class="col"
                  cdkDropList
                  #right="cdkDropList"
                  [cdkDropListData]="teams[1].players"
                  [cdkDropListConnectedTo]="[left]"
                  (cdkDropListDropped)="drop($event)">
            <mat-list-item cdkDrag [cdkDragData]="player" *ngFor="let player of teams[1].players">
                <span matListItemTitle>{{player.alias}}</span>
                <span matListItemLine>Economy: {{player.total_economy}}</span>
                <span matListItemLine>Industry: {{player.total_industry}}</span>
                <span matListItemLine>Science: {{player.total_science}}</span>
            </mat-list-item>
            <div>Math</div>
        </mat-list>
    </div>
</div>
