<div class="container">
    <div class="row">
        <mat-list class="col"
                  cdkDropList
                  #left="cdkDropList"
                  [cdkDropListData]="teams[0].players"
                  [cdkDropListConnectedTo]="[right]"
                  (cdkDropListDropped)="drop($event)">
            <mat-list-item cdkDrag [cdkDragData]="player" *ngFor="let player of teams[0].players">
                <span matListItemTitle>{{player.alias}}</span>
                <span matListItemLine class="row">
                    <span class="col"><strong>Economy</strong>: {{player.total_economy}}</span>
                    <span class="col"><strong>Industry</strong>: {{player.total_industry}}</span>
                    <span class="col"><strong>Science</strong>: {{player.total_science}}</span>
                </span>
                <span matListItemLine class="row">
                    <span class="col"><strong>Stars</strong>: {{player.total_stars}}</span>
                    <span class="col"><strong>Carriers</strong>: {{player.total_fleets}}</span>
                    <span class="col"><strong>Ships</strong>: {{player.total_strength}}</span>
                </span>
                <span matListItemLine></span>
            </mat-list-item>
            <app-math [teamSize]="teams[0].players.length" [players]="teams[0].players"></app-math>
        </mat-list>
        <mat-list class="col"
                  cdkDropList
                  #right="cdkDropList"
                  [cdkDropListData]="teams[1].players"
                  [cdkDropListConnectedTo]="[left]"
                  (cdkDropListDropped)="drop($event)">
            <mat-list-item cdkDrag [cdkDragData]="player" *ngFor="let player of teams[1].players">
                <span matListItemTitle>{{player.alias}}</span>
                <span matListItemLine class="row">
                    <span class="col"><strong>Economy</strong>: {{player.total_economy}}</span>
                    <span class="col"><strong>Industry</strong>: {{player.total_industry}}</span>
                    <span class="col"><strong>Science</strong>: {{player.total_science}}</span>
                </span>
                <span matListItemLine class="row">
                    <span class="col"><strong>Stars</strong>: {{player.total_stars}}</span>
                    <span class="col"><strong>Carriers</strong>: {{player.total_fleets}}</span>
                    <span class="col"><strong>Ships</strong>: {{player.total_strength}}</span>
                </span>
                <span matListItemLine></span>
            </mat-list-item>
            <app-math [teamSize]="teams[1].players.length" [players]="teams[1].players"></app-math>
        </mat-list>
    </div>
</div>
