<div class="container">
    <div class="row">
        <mat-list class="col"
                  cdkDropList
                  #left="cdkDropList"
                  [cdkDropListData]="teams[0].players"
                  [cdkDropListConnectedTo]="[right]"
                  (cdkDropListDropped)="drop($event)">
            <app-player [team]="teams[0]"></app-player>
            <app-math [teamSize]="teams[0].players.length" [players]="teams[0].players"></app-math>
        </mat-list>
        <mat-list class="col"
                  cdkDropList
                  #right="cdkDropList"
                  [cdkDropListData]="teams[1].players"
                  [cdkDropListConnectedTo]="[left]"
                  (cdkDropListDropped)="drop($event)">
            <app-player [team]="teams[1]"></app-player>
            <app-math [teamSize]="teams[1].players.length" [players]="teams[1].players"></app-math>
        </mat-list>
    </div>
</div>
